.weui-panel {
  .weui-panel__hd {
    padding: 0.14rem 0.15rem 0.10rem;
    font-size: 0.13rem;
  }
  .weui-panel__bd {
    .weui-media-box {
      padding: 0.15rem;
      &.weui-media-box_small-appmsg {
        padding: 0;
      }
    }
  }
}
