.overlay {
  background-image: linear-gradient(to bottom, rgba(232, 234, 241, 0.97), rgba(243, 243, 244, 0.97) 100%);
  // background: #fff;
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 1002;
  font-size: 0.14rem;
  display: none;
  &.animated {
    display: none;
  }
  &.fadeInUpBig {
    display: block;
  }
  &.auto {
    top: auto;
  }
}
