.no-record {
  width: 100%;
  height: 1rem;
  position: relative;
  span {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 0.12rem;
    line-height: 0.2rem;
    top: 50%;
    margin-top: -0.1rem;
    color: #999;
  }
}
