.weui-tabbar {
  z-index: 1001;
  position: fixed;
}
.weui-tabbar__item {
  padding: 8px 0 3px;
  .weui-tabbar__icon {
    width: 28px;
    height: 28px;
  }
  .weui-tabbar__label{
    font-size: 0.13rem;
  }
  &.weui-bar__item_on {
    .weui-tabbar__label {
      color: #F60;
    }
  }
}
