.weui-infiniteloader {
  background: #f7f7f7;
  padding-bottom: 53px;
  box-sizing: border-box;
}

.soon {
  .weui-panel {
    background: none;
    &:before, &:after {
      display: none;
    }
    .weui-panel__bd {
      background: #fff;
      overflow: hidden;
    }
    .weui-media-box {
      margin: 0.15rem;
      padding: 0.1rem;
      background: #fff;
      border-radius: 0.02rem;
      border: 2px solid #f60;
      overflow: hidden;
      .nowTitle {
        font-size: 0.1rem;
        background: #f60;
        color: #fff;
        width: 90px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        -webkit-transform: rotate(-45deg);
        position: absolute;
        left: -22px;
        top: 11px;
        transform: rotate(-45deg);
      }
      .weui-media-box__hd {
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.15rem;
        img {
          display: block;
          width: 0.75rem;
          height: 0.75rem;
        }
      }
      .weui-media-box__bd {
        .weui-media-box__desc {
          font-size: 0.13rem;
          color: #0F0F0F;
        }
        .weui-media-box__info {
          margin-top: 0.1rem;
          font-size: 0.1rem;
          em {
            font-size: 0.12rem;
            color: #F26549;
            font-style: normal;
            line-height: 0.17rem;
            margin-top: 0.05rem;
          }
          span {
            display: block;
            padding: 0.02rem 0.1rem;
            line-height: 0.17rem;
            background: #f60;
            color: #fff;
            font-size: 0.13rem;
            border-radius: 0.02rem;
          }

          .right {
            padding-right: 0;
          }
        }
      }
    }
  }
  .timer {
    width: 10em;
    img{
      display: inline-block;
      position: relative;
      top: 3px;
      margin: 0 5px;
    }
  }
}
.goods {
  margin-top: 0.1rem;
  .weui-panel {
    background: none;
    &:before, &:after {
      display: none;
    }
    .weui-panel__hd {
      &:after {
        display: none;
      }
      .right {
        color: #999;
      }
      .label {
        font-size: 0.14rem;
        color: #0F0F0F;
        display: block;
        line-height: 1;
        margin: 0 auto;
        padding: 0.06rem 0.09rem;
        border-radius: 0.32rem;
        &.curr {
          color: #fff;
          background: #F26549;
        }
      }
    }
    .weui-panel__bd {
      background: #fff;
    }
    .goods-menu {
      padding: 0 0 0.075rem;
      .weui-cell {
        background: #fff;
      }
      .icon {
        width: 0.22rem;
        display: block;
        margin-left: 0.15rem;
      }
    }
    .weui-media-box {
      .weui-media-box__hd {
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.15rem;
        margin-left: 0.1rem;
        img {
          display: block;
          width: 0.75rem;
          height: 0.75rem;
        }
      }
      .weui-media-box__bd {
        .weui-media-box__title {
          font-size: 0.14rem;
          display: -webkit-box;
          white-space: normal;
          line-height: 0.16rem;
          color: #999;
          margin: 0.03rem auto;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          & + .weui-media-box__info {
            margin-top: 0.1rem;
          }
        }
        .weui-media-box__info {
          margin-top: 0.15rem;
          font-size: 0.13rem;
          em {
            font-size: 0.12rem;
            color: #f60;
            font-style: normal;
            line-height: 0.17rem;
          }
          span {
            display: block;
            padding: 0;
            line-height: 0.17rem;
            background: #fff;
            color: #bbb;
          }
        }
      }
      .weui-media-box__ft {
        margin-left: 0.2rem;
        img {
          width: 0.25rem;
        }
      }
    }
  }
}

weui-progress {
  display: block;
  margin-top: 0.1rem;
}

.weui-media-box__info{
  display: flex;
  flex-direction: column;
}

.weui-media-box__info__meta{
  margin: 0.02rem;
}
