<app-navbar [title]="'购物记录'"></app-navbar>
<app-tabbar></app-tabbar>

<div *ngIf="trade" class="content-scrollable has-footer">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div [routerLink]="['/front/item',trade.spellbuyProductId]" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img src="{{config.prefix.wApi + trade.headimage}}" alt="">
          <span *ngIf="trade.pk_type === 3" class="flag">
            <img src="/assets/images/red-flag.png">
          </span>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{trade.productname}}</h4>
          <weui-progress [value]="(trade.spellbuycount / trade.usercount) * 100"
                         [canCancel]="false"></weui-progress>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">已参与<em>{{trade.buyCount}}</em>人次</li>
            <li class="right weui-media-box__info__meta"><span><em>已参与{{trade.spellbuycount}}</em> / 剩余{{trade.surpluscount}}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="trade.list[0]?.randomnumber" class="weui-panel">
    <div class="weui-panel__hd">商品信息</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">拥有{{nums.length}}个{{trade.pk_type === 3 ? '元宝' : '幸运码'}}</h4>
          <div class="labels weui-media-box__info">
            <span class="label" *ngFor="let item of nums" [ngClass]="{'active':item.isNum}">{{item.num}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
