.content-scrollable {
  background: #F7F7F7;
  .weui-panel {
    &:before {
      display: none;
    }
  }
  .weui-media-box {
    .weui-media-box__hd {
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.15rem;
      position: relative;
      img {
        display: block;
        width: 0.75rem;
        height: 0.75rem;
      }
      .flag {
        position: absolute;
        left: 0;
        top: 0;
        width: 0.24rem;
        height: 0.24rem;
        border-radius: 100%;
        box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.2);
        border: 1px solid #fff;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .weui-media-box__bd {
      .weui-media-box__title {
        font-size: 0.13rem;
        display: -webkit-box;
        white-space: normal;
        line-height: 0.16rem;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .weui-media-box__info {
        font-size: 0.1rem;
        .weui-media-box__info__meta {
          padding-right: 0;
        }
        em {
          font-size: 0.12rem;
          color: #F26549;
          font-style: normal;
          line-height: 0.17rem;
        }
        span {
          display: block;
          //padding: 0 0.15rem;
          line-height: 0.17rem;
          //background: #F5F5F5;
          color: #3F3F3F;
          em {
            font-size: 0.1rem;
          }
        }
      }
      weui-progress {
        display: block;
        margin-top: 0.1rem;
      }
    }
  }
}

.labels {
  .label {
    display: inline-block !important;
    padding: 0.03rem 0.05rem !important;
    border-radius: 2rem;
    background: #F7F7F7 !important;
    margin-right: 0.08rem;
    color: #999 !important;
    font-weight: normal;
    margin-bottom: 0.08rem;
    &.active {
      color: #F26549 !important;
      font-weight: bold;
    }
  }
}
