app-infiniteloader {
  background: #f7f7f7;
}

.banner {
  .img-box {
    display: block;
    //width: 88% !important;
    //margin: 0.1rem 0.05rem;
    //border-radius: 0.04rem;
    img {
      display: block;
      width: 100%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    }
  }
}

.menus {
  background: #fff;
  .weui-grid__icon {
    width: 0.44rem;
    height: 0.44rem;
  }
  .weui-grid__label {
    font-size: 0.11rem;
    margin-top: 0.1rem;
    line-height: 1;
    color: #666;
  }
}

.news {
  overflow: hidden;
  background: #fff;
  .weui-cell {
    margin: 0.15rem;
    background: #F7F7F7;
    font-size: 0.12rem;
    color: #333;
    line-height: 1;
    padding: 0.1rem;
    .weui-cell__hd {
      span {
        padding: 0.04rem 0.05rem;
        display: block;
        background: #F26549;
        color: #fff;
        border-radius: 0.04rem;
        margin-right: 0.1rem;
      }
    }
    .weui-cell__bd {
      padding: 0.04rem 0.05rem 0.04rem 0.1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: 0;
        width: 1px;
        border-left: 1px solid #DCDCDC;
      }
    }
  }
}

.new {
  .weui-panel {
    background: none;
    &:before, &:after {
      display: none;
    }
    .weui-panel__hd {
      color: #0F0F0F;
      &:after {
        display: none;
      }
      .right {
        color: #999;
      }
    }
    .weui-media-box {
      padding: 0;
      min-height: 1.35rem;
      box-sizing: border-box;
      .new-content {
        box-sizing: border-box;
        padding: 0 0.15rem;
        position: absolute;
        width: 100%;
      }
      .weui-grids {
        margin: 0 -0.03rem;
        .weui-grid {
          width: 25%;
          .weui-grid__box {
            background: #fff;
            margin: 0.03rem;
            padding: 0.1rem;
            box-shadow: 0 3px 6px 0 rgba(198, 198, 198, 0.20);
            border-radius: 4px;
            .weui-grid__icon {
              width: 0.6rem;
              height: 0.6rem;
            }
            .weui-grid__label {
              font-size: 0.1rem;
              margin-top: 0.1rem;
              color: #666;
            }
            .name {
              font-size: 0.1rem;
              color: #F26549;
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.goods {
  .type-list {
    background: #fff;
    margin: 0 -0.075rem;
    padding: 0.15rem;
    .type-box {
      background: #F7F7F7;
      text-align: left;
      color: #666;
      display: block;
      padding: 0.06rem 0.1rem;
      border-radius: 0.3rem;
      line-height: 0.14rem;
      position: relative;
      margin: 0.1rem 0.075rem;
      em {
        background: #DCDCDC;
        width: 0.18rem;
        height: 0.18rem;
        line-height: 0.18rem;
        text-align: center;
        color: #fff;
        border-radius: 0.09rem;
        font-size: 0.11rem;
        font-weight: 300;
        display: block;
        position: absolute;
        right: 0.1rem;
        top: 0.04rem;
        font-style: normal;
      }
      &.selected {
        em {
          background: #F26549;
        }
      }
    }
    .favorites {
      text-align: center;
      align-items: center;
      .my, .add {
        span {
          display: block;
          font-size: 0.14rem;
          color: #F26549;
          border-radius: 0.04rem;
          border: 1px solid #F26549;
          line-height: 1;
          padding: 0.11rem;
          margin: 0.075rem;
        }
      }
      .add span {
        background: #F26549;
        color: #fff;
      }
      .tips {
        flex: unset;
        span {
          margin: 0.075rem;
          width: 5em;
          text-align: right;
          display: block;
        }
      }
    }
  }
  .weui-panel {
    background: none;
    &:before, &:after {
      display: none;
    }
    .weui-panel__hd {
      &:after {
        display: none;
      }
      .right {
        color: #999;
      }
    }
    .goods-menu {
      padding: 0.15rem 0 0.075rem;
      &.fixed {
        padding: 0 0 0.075rem;
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        box-sizing: border-box;
      }
      .weui-cell {
        background: #fff;
      }
      .icon {
        width: 0.22rem;
        display: block;
        margin-left: 0.15rem;
      }

      .label {
        font-size: 0.14rem;
        color: #0F0F0F;
        display: block;
        line-height: 1;
        margin: 0 auto;
        padding: 0.06rem 0.09rem;
        border-radius: 0.32rem;
        &.curr {
          color: #fff;
          background: #F26549;
        }
      }
    }
    .weui-media-box {
      padding: 0 0.15rem;
      .weui-grids {
        margin: 0 -0.075rem;
        .weui-grid {
          width: 50%;
          padding: 0.075rem;
          .weui-grid__icon {
            width: auto;
            height: auto;
            background: #fff;
            box-shadow: 0 3px 6px 0 rgba(198, 198, 198, 0.20);
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            .img-box {
              margin: 0.2rem;
              img {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
            .icon-heart {
              font-size: 0.17rem;
              color: #DCDCDC;
              position: absolute;
              right: 0.1rem;
              top: 0.1rem;
              &.collected {
                color: #F43530;
              }
            }
          }
          .weui-grid__label {
            font-size: 0.13rem;
            color: #0F0F0F;
            line-height: 1;
            margin-top: 0.1rem;
            text-align: left;
          }

          weui-progress {
            margin-top: 0.1rem;
            display: block;
          }
          .weui-flex {
            margin-top: 0.1rem;
            font-size: 0.12rem;
            line-height: 1;
            &.action {
              margin-top: 0.15rem;
              .buy {
                color: #fff;
                color: #F26549;
                font-size: 0.14rem;
                line-height: 1;
                padding: 0.1rem 0;
                text-align: center;
                border-radius: 0.04rem;
                border: 1px solid #F26549;
              }
              .cart {
                width: 0.3rem;
                display: block;
                margin: 0 0.05rem 0 0.2rem;
                flex: unset;
                align-self: center;
                img {
                  width: 100%;
                  display: block;
                }
              }
            }
          }
          .price {
            text-align: left;
            color: #F26549;
          }
          .store {
            text-align: right;
            color: #999;
          }
        }
      }
    }
  }
}

weui-mask {
  .qr, .qr-site {
    width: 60%;
    margin: 0 auto;
    img {
      width: 100%;
      display: block;
    }
  }
  .qr-site {
    width: 50%;
    margin: 0 auto;
    transform: translateY(-20%);
  }
  .close {
    width: 0.4rem !important;
    margin: 0.15rem auto;
    display: block;
  }
}

.cart-ball {
  padding: 0.15rem;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  img {
    display: block;
    width: 100%;
  }
  &.animated {
    transition: left 0.5s ease-out, top 0.5s ease-in, width 0.5s, height 0.5s;
    transform: translate3d(0, 0, 0);
  }
  &.show {
    display: block;
  }
}

.float-nav {
  position: fixed;
  width: 0.5rem;
  border: 1px solid transparent;
  padding: 0.04rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 1000;
  span {
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.05rem 0;
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    img {
      display: block;
      width: 0.24rem;
      margin: 0.08rem;
    }
  }
}
