<app-navbar [title]="'绑定手机号'"></app-navbar>
<div #container class="auth-content content-scrollable">
  <form novalidate [formGroup]="bindForm" (submit)="bind()">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell" [ngClass]="{'weui-cell_warn':bindForm.get('phone').invalid && isSubmit}">
        <div class="weui-cell__hd">
          <img style="width:0.14rem;margin-right:0.1rem;display:block" src="/assets/images/icons/user.png">
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" formControlName="phone" placeholder="请输入手机号">
        </div>
        <div class="weui-cell__ft">
          <span class="weui-icon-warn"></span>
        </div>
      </div>
      <div class="valid-code weui-cell"
           [ngClass]="{'weui-cell_warn':bindForm.get('validCode').invalid && isSubmit}">
        <div class="weui-cell__hd">
          <img style="width:0.14rem;margin-right:0.1rem;display:block" src="/assets/images/icons/code.png">
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="number" formControlName="validCode" placeholder="请输入验证码">
        </div>
        <div class="weui-cell__ft" [ngClass]="{'show' : bindForm.get('phone').valid}">
          <span class="weui-icon-warn"></span>
          <span class="sendValidCode" id="sendValidCode" (click)="sendValidCode()">{{activeText}}</span>
        </div>
      </div>
    </div>

    <div class="weui-btn-area">
      <button weui-button [weui-loading]="loading" class="weui-btn weui-btn_primary">确认绑定</button>
    </div>
  </form>
</div>

<div id="popup-captcha"></div>
