<app-navbar [title]="'更改密码'"></app-navbar>
<app-tabbar></app-tabbar>

<div class="setting-content content-scrollable has-footer">
  <form novalidate [formGroup]="settingForm" (ngSubmit)="onSubmit()">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell"
           [ngClass]="{'weui-cell_warn':settingForm.get('owd').invalid && settingForm.get('owd').dirty}">
        <div class="weui-cell__hd"><label class="weui-label">原密码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" formControlName="owd" placeholder="请输入原密码">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
      <div class="weui-cell"
           [ngClass]="{'weui-cell_warn':settingForm.get('pwd').invalid && settingForm.get('pwd').dirty}">
        <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="password" formControlName="pwd" placeholder="请输入新密码">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
      <div class="weui-cell"
           [ngClass]="{'weui-cell_warn':settingForm.get('confirmPwd').invalid && settingForm.get('confirmPwd').dirty || settingForm.get('confirmPwd').value !== settingForm.get('pwd').value}">
        <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="password" formControlName="confirmPwd" placeholder="请输入确认密码">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
    </div>

    <div class="weui-btn-area">
      <button type="submit" weui-button [weui-type]="'primary'" [disabled]="settingForm.invalid"
              [weui-loading]="loading">
        确定
      </button>
    </div>
  </form>
</div>
