.logistics {
  background: #f7f7f7;
  &.has-footer {
    &:after {
      height: 101px;
    }
  }
  .weui-media-box__bd {
    .weui-media-box__title {
      font-size: 0.13rem;
      display: -webkit-box;
      white-space: normal;
      line-height: 0.16rem;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .weui-media-box__desc {
      font-size: 0.1rem;
      line-height: 1.5;
      &.lucky,&.price {
        em {
          color: #F26549;
        }
      }
      &.user {
        em {
          color: #4CA6FF;
        }
      }
    }
  }
  .weui-media-box {
    font-size: 0.12rem;
  }
}

.logistics-info {
  .weui-media-box {
    .weui-media-box__hd {
      width: 0.3rem;
      height: 0.3rem;
      line-height: 0.3rem;
      &:after {
        content: ' ';
        position: absolute;
        width: 1px;
        top: 0;
        bottom: 0;
        height: 100%;
        border-left: 1px solid #ccc;
        left: 0.29rem;
        transform: scaleX(0.5);
      }
      i {
        display: inline-block;
        width: 0.06rem;
        height: 0.06rem;
        background: #ccc;
        border-radius: 100%;
        position: relative;
        z-index: 2;
      }
    }
    .weui-media-box__bd {
      .weui-media-box__title {
        font-size: 0.12rem;
      }
      .weui-media-box__desc {
        font-size: 0.1rem;
        margin-top: 0.05rem;
      }
    }
    &:first-child {
      .weui-media-box__title {
        color: #F26341;
      }
      .weui-media-box__desc {
        color: #F26341;
      }

      .weui-media-box__hd {
        &:after {
          top: 50%;
          height: 50%;
        }
        i {
          background: #F26341;
          width: 0.1rem;
          height: 0.1rem;
        }
      }
    }
    &:last-child {
      .weui-media-box__hd {
        &:after {
          bottom: 50%;
          height: 50%;
        }
      }
    }
  }
}
