.prod-info {
  background: #f4f4f4;
  .space {
    height: 70px;
  }
  .prod-nav {
    background: #e4e4e4;
    box-shadow: 0 1px 2px #b8b8b8;
    .swiper-wrapper {
      .swiper-slide {
        width: auto !important;
        font-size: 0.14rem;
        margin: 0;
        padding: 0.04rem 0.15rem;
        line-height: 2;
        &.curr {
          background: #f4f4f4;
          color: #F60;
        }
      }
    }
  }
  .now {
    margin-top: 0.1rem;
    background: #fff;
    padding: 0.15rem;
    text-align: center;
    .now-title {
      font-size: 0.14rem;
      line-height: 1;
      color: #999;
      margin-bottom: 0.15rem;
    }
    .count-down {
      .handlet {
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        text-align: center;
        line-height: 0.4rem;
        background: #4CA6FF;
        color: #fff;
        font-size: 0.17rem;
        &.hand-s {

        }
        &.hand-u {

        }
      }
      .digital.point {
        font-size: 0.2rem;
        display: inline-block;
        color: #4CA6FF;
        width: 0.3rem;
        height: 0.4rem;
        line-height: 0.4rem;
      }
    }
    & + .prod-imgs {
      margin-top: 0;
    }
  }
  .curr-user, .prev-user {
    background: #fff;
    margin-top: 0.1rem;
    padding: 0.15rem;
    .weui-panel {
      background: #FDEFEC;
      border-radius: 0.02rem;
      &:before, &:after {
        display: none;
      }
      .weui-media-box {
        .weui-media-box__hd {
          width: 0.6rem;
          height: 0.6rem;
          /*img {
            border-radius: 100%;
          }*/
        }
        .weui-media-box__bd {
          .weui-media-box__title {
            font-size: 0.13rem;
            color: #666;
          }
          .weui-media-box__desc {
            font-size: 0.1rem;
            color: #999;
          }
        }
      }
      .weui-panel__ft {
        .weui-cell_link {
          font-size: 0.14rem;
          color: #ccc;
          padding: 0.1rem 0.15rem;
          line-height: 1;
          &:before, &:after {
            display: none;
          }
          .weui-cell__ft {
            color: #fff;
            &:after {
              border-color: #fff;
              width: 0.04rem;
              height: 0.04rem;
            }
            a{
              text-indent: 0;
              color: #fff;
              text-align: center;
              background: #f60;
              padding: 0 18px;
              height: 25px;
              line-height: 25px;
              display: inline-block;
              border-radius: 3px;
              font-size: 12px;
            }
          }
        }
      }
    }
    & + .prod-imgs {
      margin-top: 0;
    }
  }
  .curr-user {
    background: #f4f4f4;
    .weui-panel {
      background: #fff;
      border: 1px solid #cfcfcf;
      .weui-media-box{
        s{
          background: url("../../../../assets/images/preIcon.png") no-repeat;
          background-size: 61px auto;
          display: inline-block;
          background-position: 0 -63px;
          width: 61px;
          height: 61px;
          position: absolute;
          left: -2px;
          top: -2px;
        }
        .weui-media-box__hd{
          display: inline-block;
          span{
            width: 18%;
            height: 22px;
            line-height: 22px;
            text-align: center;
            color: #fff;
            background: rgba(0, 0, 0, 0.4);
            bottom: 0;
            left: 0;
            font-size: 10px;
            border-radius: 0 0 5px 5px;
            box-sizing: border-box;
            position: absolute;
            margin: 12px 14px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        .pResultsR {
          float: right;
          width: 90%;
          color: #ccc;
          font-size: 0.12rem;
          .g-snav{
            width: 100%;
            display: box;
            display: -webkit-box;
            .g-snav-lst{
              text-align: center;
              border-left: 1px solid #eee;
              padding-top: 10px;
              min-width: 64px;
              height: 62px;
              -webkit-box-flex: 1;
              dd{
                margin-top: 5px;
                &.gray{
                  color: #999;
                }
                .orange{
                  padding: 0 6px;
                  color: #f60;
                  font-weight: normal;
                }
              }
            }
          }
        }

      }
    }
  }
  .prev-user {
    .weui-panel {
      background: #f7f7f7;
      .weui-media-box{
        s{
          background: url("../../../../assets/images/preIcon.png") no-repeat;
          background-size: 61px auto;
          display: inline-block;
          background-position: 0 0;
          width: 61px;
          height: 61px;
          position: absolute;
          left: -2px;
          top: -2px;
        }
        em{
          color: #f60;
        }
        .weui-media-box__desc{
          margin: 0.05rem 0;
          color: #090909 !important;
          font-size: 0.12rem !important;
        }
      }
    }
  }
  .prod-imgs {
    margin-top: 0.1rem;
    background: #fff;
    position: relative;
    .swiper-wrapper {
      .swiper-slide {
        img {
          display: block;
          margin: 0 auto;
          height: 2.35rem;
        }
      }
    }
    .tag {
      position: absolute;
      bottom: 0.15rem;
      right: 0.15rem;
      font-size: 0.1rem;
      color: #666;
      display: block;
      border-radius: 0.08rem;
      line-height: 1;
      padding: 0.03rem 0.1rem;
      background: #F5F5F5;
      z-index: 2;
    }
  }
  .prod-title {
    background: #fff;
    margin-top: 0.1rem;
    padding: 0.1rem 0.15rem;
    font-size: 0.13rem;
    color: #0F0F0F;
    .price{
      margin: 0.055rem 0;
      color: #666;
      font-size: 0.12rem;
    }
  }

  .prod-progress {
    padding: 0 0.15rem;
    background: #fff;
    .weui-progress__bar {
      height: 0.07rem;
      overflow: hidden;
      border-radius: 0.025rem;
      .weui-progress__inner-bar{
        background-color: #f60;
      }
    }
  }

  .prod-status {
    background: #fff;
    padding: 0.2rem 0.15rem;
    font-size: 0.12rem;
    line-height: 1;
    .bar-li{
      position: relative;
      overflow: hidden;
      display: block;
      float: left;
      height: auto;
      padding: 0;
      width: 100%;
      border: 0 none;
      margin-bottom: 10px;
      li{
        float: left;
        color: #999;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        font-size: 12px;
      }
      .bar-01{
        width: 30%;
        text-align: left;
        em{
          color: #f60;
          display: block;
          height: 20px;
          padding: 3px 0 0 0;
          font-style: normal;
          font-size: 0.14rem;
        }
      }

      .bar-02{
        width: 40%;
        text-align: center;
        em{
          color: #777;
          display: block;
          height: 20px;
          padding: 3px 0 0 0;
          font-style: normal;
          font-size: 0.14rem;
        }
      }

      .bar-03{
        width: 30%;
        float: right;
        text-align: right;
        em{
          color: #2AF;
          display: block;
          height: 20px;
          padding: 3px 0 0 0;
          font-style: normal;
          font-size: 0.14rem;
        }
      }
    }
    span{
      color: #999;
      font-size: 0.16rem;
    }
    .status-price {
      text-align: left;
      color: #F26549;
    }
    .status-progress {
      text-align: right;
      font-size: 0.1rem;
      color: #3F3F3F;
      & > span {
        padding: 0.03rem 0.1rem;
        background: #F5F5F5;
        border-radius: 0.02rem;
        em {
          color: #F26549;
          font-style: normal;
        }
      }
    }
    .weui-btn {
      margin-top: 0.2rem;
      color: #fff;
      &:after {
        display: none;
      }
      &.weui-btn_default {
        background: #DCDCDC;
      }
    }
  }
  .prod-intro {
    padding: 0.2rem 0;
    background: #fff;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      left: 0.15rem;
      top: 0;
      right: 0.15rem;
      height: 1px;
      border-top: 1px solid #e5e5e5;
      color: #e5e5e5;
      transform-origin: 0 0;
      transform: scaleY(0.5);
    }
    .txt {
      padding: 0 0.15rem 0.25rem;
      font-size: 0.12rem;
      line-height: 1;
      .title {
        text-align: left;
      }
      .more {
        text-align: right;
        color: #999;
      }
    }
  }
  .prod-extra {
    margin-top: 0.1rem;
    background: #fff;
    weui-navbar {
      height: auto;
      .weui-tab__panel {
        height: auto;
        overflow: unset;
        -webkit-overflow-scrolling: unset;
      }
    }
    .weui-navbar {
      background: #fff;
      position: absolute;
      &:after {
        left: 0.15rem;
        right: 0.15rem;
      }
      .weui-navbar__item {
        &:after {
          display: none;
        }
        &.weui-bar__item_on {
          background: #fff;
          color: #F26549;
          &:after {
            display: block;
            width: 4em;
            left: 50%;
            margin-left: -2em;
            bottom: 0;
            right: auto;
            top: auto;
            height: 1px;
            border-bottom: 3px solid #F26549;
            border-right: 0;
            transform-origin: 0 0;
            transform: scaleY(1);
          }
        }
      }
    }
    .records {
      font-size: 0.12rem;
      color: #999;
      .weui-media-box__hd {
        align-self: start;
        width: 0.44rem;
        height: 0.44rem;
        line-height: 0.44rem;
        margin-right: 0.15rem;
        img {
          width: 0.44rem;
          height: 0.44rem;
        }
      }
      .weui-media-box__title {
        font-size: 0.12rem;
        line-height: 0.22rem;
      }
      .weui-media-box__desc {
        line-height: 0.22rem;
      }
      .images-box {
        padding: 0.075rem;
        background: #F7F7F7;
        margin-top: 0.1rem;
        .images {
          .image {
            .image-box {
              height: 0.95rem;
              margin: 0.075rem;
              background-size: cover;
            }
          }
        }
      }
      .weui-cell_link {
        font-size: 0.12rem;
        line-height: 1;
        padding: 0.1rem 0rem;
        margin-top: 0.05rem;
        margin-bottom: -0.1rem;
        &:before, &:after {
          display: none;
        }
        .weui-cell__ft {
          & > span {
            margin-left: 0.2rem;
            i, span {
              display: inline-block;
              vertical-align: middle;
            }
            i {
              color: #D8D8D8;
            }
          }
        }
      }
    }
  }
  app-graphic {
    display: block;
    width: 100%;
  }

  .btns-group {
    background: #fff;
    bottom: 60px;
    .nav-group {
      bottom: auto;
      height: 0.48rem;
      font-size: 0.14rem;
      width: 0.48rem;
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #e5e5e5;
        color: #e5e5e5;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        z-index: 2;
      }
    }
    .nav-item {
      color: #333333;
      display: inline-block;
      font-size: 0.18rem;
      height: 0.48rem;
      line-height: 0.48rem;
      width: 0.48rem;
      &:active {
        opacity: 0.5;
      }
      &.active {
        .weui-grid__icon {
          color: #F43530;
        }
      }
      [class^="icon-"],
      [class*=" icon-"] {
        line-height: 0.3rem;
        vertical-align: middle;
      }
      .weui-grid__icon {
        line-height: 1;
        display: block;
        width: 0.24rem;
        height: 0.24rem;
        font-size: 0.24rem;
        margin-top: 0.02rem;
        color: #DCDCDC;
      }
      .weui-grid__label {
        line-height: 1;
        font-size: 0.12rem;
        color: #999;
      }
    }
  }
}
